*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(0, 0, 119);
    display: flex;
    flex-flow: row wrap;
}

#header-nav{
    height: 75px;
    width: 100%;
    background-color: rgb(173, 216, 230);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
}

#header-nav div{
    background-color: rgb(218, 165, 32);
    line-height: 35px;
}

#nav-menu{
    width: 680px;
    border: 1px solid grey;
    display: flex;
    justify-content: center;
}

#nav-menu span{
    padding: 0 10px;
}

.nav-side{
    width: 200px;
    padding: 0 15px;
}

#logo{
    display: flex;
    justify-content: flex-start;
    border: 1px solid grey;
}

#login{
    display: flex;
    justify-content: right;
    text-align: right;
    border: 1px solid grey;
}

#header-bio{
    height: 650px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    color: white;
}

#header-bio-text{
    width: 980px;
    background-color: rgb(238, 130, 238);
    min-height: 75%;
}

h2{
    font-size: 75px;
    padding-bottom: 75px;
}

h2 ~ p{
    font-size: 25px;
    line-height: 40px;
}

main section{
    height: 780px;
    display: flex;
    align-items: center;
    justify-content: center;
}

main section div{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75%;
    width: 66%;
}

.div-large{
    width: 66.6%;
    height: 100%;
    background-color: rgb(255, 192, 203);
}

.div-small{
    width: 33.3%;
    height: 100%;
    background-color: rgb(30, 144, 255);
}

main section:nth-child(2n+0){
    background-color: grey;
}

main section:last-child div{
    background-color: rgb(34, 139, 34);
}

#last-section{
    height: 1080px;
}

#last-div{
    height: 75%;
}